<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div style="margin: 3vh 10vw">
        <div style="display: flex; flex-wrap: wrap; align-content: space-between;">
            <div style="display: block">
                <div style="display: flex; align-items: center;">
                    <a href="/login" tabindex="-1" style="position: absolute; left: 4vw; height: 40px">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40px" height="40px" stroke="#444" viewBox="0 0 16 16">
                            <path  d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
                        </svg>
                    </a>
                    <h1>Search</h1>
                </div>
                <form style="display: flex; gap: 20px" method="get" action="/home/search">
                    <input style="width: 30vw; margin-left: 0" type="text" name="query" placeholder="search for playlist or track" value="{{query}}">
                    <input class="custom-btn" type="submit" name="query_type" value="playlist">
                    <input class="custom-btn" type="submit" name="query_type" value="track">
                </form>
            </div>
        </div>

        <!-- LISTA -->
        <div style="margin-top: 6vh">
            <p>{{ status }}</p>
            {% for item in lista %}
            <div class="list-item">
                <a class="nolink" target="_blank" href="https://open.spotify.com/{{ item['type'] }}/{{item['id']}}">{{ item['name'] }}</a>
                <div style="margin-left: auto; display: flex; gap: 20px">
                    <a target="_blank" class="nolink" href="/view?type={{item['type']}}&id={{item['id']}}&limit=5">
                        <div class="custom-btn"> Raw </div>
                    </a>
                    <a class="nolink" href="/send?type={{item['type']}}&id={{item['id']}}">
                        <div class="custom-btn"> Send </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div> 
    </div>
</body>
</html>
