<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div style="text-align: center">
        <h1 style="margin-top: 20vh">Spotify client login</h1>
        <form style="display: flex; flex-direction: column; margin: 8vh; align-items: center;" method="post" action="/login">
            <input type="text" name="client_id" placeholder="client id">
            <br>
            <input type="password" name="client_secret" placeholder="client secret">
            <br>
            <input class="custom-btn" type="submit">
        </form>
    </div>
</body>
</html>
